#title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

#map {
	width: 900px;
	height: 670px;
	border: 2px solid  #432D00;
	margin-bottom: 10px;
	background: gray;
} 

#panel {
	position: absolute;
	top: 30px;
	left: 950px;
	background: gray;
}

#selected {
	margin-bottom: 5px;
} 
